/* default rules */
* {
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

/* hide scrollbar  */
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    overflow-x: hidden;
    background-color:#262626 ;
}
/* smooth scrolling effect */
html {
    scroll-behavior: smooth;
}

/* navigation styles */
/* navigation bar styles */
#navbar {
    /* font and color for navigation bar */
    color: #bf923f;
    font-weight: lighter;
    font-size: x-large;
    background-color: #181818;
    /* padding and border settings */
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    border-bottom: 2.5px solid #bf923f;
}
/* navigation list styles */
#navbar ul {
    /* allignment */
    display: flex;
    justify-content: center;
    align-items: center;
    /* list styling */
    list-style: none;   
}
/* navigation list elements styles */
#navbar ul li {
    /* padding */
    padding-right: 5%;
    padding-left: 5%;
    /* adding pipe at the end of each item */
    border-right: 3px solid #a2a2a2;
} 
/* remove border for the last element */
#navbar ul li:last-child {
    border-right: none;
}
/* underlines in navigation bar styles and animation */
/* underline styles */
#navbar a {
    display: block;
    position: relative;
    padding: 0.2em 0;
    scroll-margin-top: 2rem;
}
/* underline fade-in animation */
#navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #a2a2a2;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}
/* animate when hovering or focusing on the link */
#navbar a:hover::after,
#navbar a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}
#navbar a::after {
    transform: scale(0);
    transform-origin: center;
}
#navbar a:hover::after,
#navbar a:focus::after {
    transform: scale(1);
}

/* navigation bar and contact links styles */
#navbar a:link,
#contact a:link {
    color: #a2a2a2;
    text-decoration: none;
}
#navbar a:visited,
#contact a:visited {
    color: #a2a2a2;
}
#navbar a:hover,
#contact a:hover {
    color: #bf923f;
}
/* sticky class to add to navbar when scrolling down the website  */
.sticky {
    position: sticky;
    position: -webkit-sticky;
    top:0;
    width: 100%;
    z-index: 100;
}
.sticky + main {
    margin-top: 0em;
}
/* video styles */
.ParallaxVideo{ 
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.ParallaxVideo video{ 
    position: fixed;
    top:0;
    z-index: -999;
    min-width: 100%;
}
.ParallaxVideo img{ 
    position: fixed;
    top: 17.5vh;
    width:30%;
    z-index: -50;
}
/* sections wrapper */
.wrapper{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    scroll-margin-top: 11.2vh;
    border-top: 2.5px solid #bf923f;
}
/* titles class */
.titles{
    font-size: 50px;
    color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    padding: 2.5%;
}

/* about section styles */
#aboutWrapper{
    background-color:#262626;
    border: 0;
}
#about {
    justify-content: center;
    color: #a2a2a2;
    font-size: xx-large;
}
#about ul {
    padding-left: 2%;
    display: grid;
    grid-template-columns: 25% 25%;
    font-size: x-large;
}
#about h1 {
    font-size: larger;
    color: #bf923f;
}
#about p {
    font-size: x-large;
}
/* motto and about section end styles */
#welcome {
    padding-top: 0%;
    padding-bottom: 2%;
}
#invite {
    padding-top: 2%;
}

/* events grid styles */
#events {
    justify-content: center;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 33% 33% 33%;
}
#eventWrapper{
    background: 0;
}
.hidelogo{
    display: none;
}
/* event class styles */
/* event shadow and animation style*/
.event {
    box-shadow: 5px 5px 10px black; 
    transition: all 0.6s ease-in-out;
    padding-bottom: 3%;
}
.event:hover {
    transform: scale(1.05);
}
/* events text styles */
.event,
.event p,
.event h1 {
    background-color: #bf923f;
    padding: 0.75%;
    display: block;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}
.event::-webkit-scrollbar,
.event h1::-webkit-scrollbar,
.event p::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
/* events images styles */
.event img {
    width: 100%;
    height: 50%;
}
/* events links styles */
.event a {
    background-color: #bf923f;
}
.event a:link {
    color: #262626;
    text-decoration: none;
}
.event a:visited {
    color: #262626;
}
.event a:hover {
    color: #000000;
}

/* contact section styles */
/* basic styles and layout */
#contact {
    display: grid;
    grid-template-columns: 40% auto 40%;
    justify-items: center;
    align-items: center;
}
#contactWrapper{
    background-color:#262626;
}

/* images in contact section styles */
#contact #left img,
#contact #right img {
    width: 1.5em;
    height: 1.5em;
    padding-left: 1%;
    padding-right: 1%;
}
#socials img {
    width: 2.6em;
    height: 2.6em;
}
/* logo in contact section styles */
#contact #logo img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
}
/* contact section styles */
#contact #left,
#contact #right {
    display: flex;
    align-content: flex-end;
    font-size: xx-large;
    height: 30%;
    margin: 5%;
}
/* contact section styles to align to right */
#contact #left {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-self: flex-end;
}
/* contact section styles to align to left */
#contact #right {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-self: flex-start;
}

/* social media styles */
#socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #a2a2a2;
    margin-left: 45%;
    margin-right: 45%;
}

/* hide mobile contact */
#mobilecontact {
    display: none;
}

/* footer styles */
#footer {
    padding: 1%;
    background-color: #181818;
    color: #a2a2a2;
    border-top: 2.5px solid #bf923f;
}
#footer p,
#footer h1 {
    font-family:'Courier New', Courier, monospace ;
    background: none;
    display: flex;
    justify-content: center;
}
#footer p {
    font-size: xx-small;
}
#footer h1 {
    font-size: x-small;
}

#mobilefooter {
    background-color: #181818;
    color: #a2a2a2;
    border-top: 2.5px solid #bf923f;
    display: none;
}
/* scroll button styles */
.scrollToTopBtn {
    cursor: pointer;
    display: block;

    width: 3.5%;
    background: 0;
    border: 0;
    /* place it at the bottom right corner */
    position: fixed;
    bottom: 10%;
    right: 2%;
    /* keep it at the top of everything else */
    z-index: 100;
    /* hide with opacity */
    opacity: 0;
    /* also add a translate effect */
    transform: translateY(100px);
    /* and a transition */
    transition: all 0.5s ease;
}
.showBtn {
    opacity: 1;
    transform: translateY(0);
}
/* for mobile devices portrait + landscape*/
@media only screen
    and (max-device-width: 940px)
{
    #eventWrapper{
        background-color: #181818;
    }
    .ParallaxVideo{ 
        height: 60vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}    
@media only screen
    and (max-device-width: 940px)
{
    .ParallaxVideo{
        height: 50vh;
        width: 100%;
    }
    .ParallaxVideo img{
        top: 5vh;
    }
}
@media only screen
    and (max-device-width: 480px)
 {
    .ParallaxVideo{ 
        height: 30vh;
        width: 100%;
    }
    .ParallaxVideo img{
        top: 7.5vh;
    }
    /* about styles */
    #about {
        font-size: 50px;
        padding: 5%;
        border: 0;
    }   
    #about ul {
        padding: 5%;
        display: grid;
        grid-template-columns: auto auto;
        font-size: 25%;
    }
    #about h1 {
        font-size: 50%;
        text-align: center;
    }
    #about #welcome{
        font-size: 30%;
        padding-bottom: 6%;
    }
    #about p{
        font-size: 30%;
    }
    #about #invite{
        font-size: 50%;
    }
    /* events grid for mobile styles */
    #events {
        grid-template-columns: 90%;
        overflow: scroll;
        border: 0;
    }
    .event img {
        height: 70%;
    }
    .event h1 {
        padding-bottom: 2%;
        font-size: 50px;
    }
    .event p {
        display: none;
    }

    /* hide normal contact section */
    #contact,
    #socials {
        display: none;
    }

    /* contact for mobiles */
    #mobilecontact {
        display: grid;
        grid-template-columns: auto 35% auto 35% ;
        height: 100%;
        justify-content: center;
        border: 0;
        flex-grow: 1;
    }
    #mobilecontact a:link {
        color: #a2a2a2;
        text-decoration: none;
    }
    #mobilecontact a:visited {
        color: #a2a2a2;
    }
    #mobilecontact img {
        padding-bottom: 5%;
        width: 60%;
        justify-self: flex-end;
        align-self: center;
    }
    #mobilecontact #telephones,
    #mobilecontact #mailing,
    .socialmedia {
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        align-self: center;
        justify-self: flex-start;
        font-size: xx-large;
    }
     /* .scrollToTopBtn styles for mobile */
     .scrollToTopBtn {
        bottom: 3%;
        right: 3%;
        width: 60px;
        line-height: 60px;
    }
    /* hide standard footer */
    #footer {
        display: none;
    }
    /* show mobile footer */
    #mobilefooter {
        display: flex;
        justify-content: center;
        background-color: #181818;
        border: 0;
    }
}
@media only screen 
  and (max-device-height: 480px){
    #about ul{
        grid-template-columns: auto auto auto;
    }
  }